  *{
box-sizing: border-box;
}

.body {
  min-height: 100vh;
  background-color: #37474f;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.spinner-box {
  width:300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.solar-system {
  width: 250px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.orbit {
  position:relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ffffffa5;
  border-radius: 50%;
}

.earth-orbit {
  width: 250px;
  height: 250px;
  animation: spin 30s linear 0s infinite;
}

.venus-orbit {
  width: 120px;
  height: 120px;
  animation: spin 30s linear 0s infinite;
}

.mercury-orbit {
  width: 90px;
  height: 90px;
  animation: spin 30s linear 0s infinite;
}

.planet {
  position: absolute;
  top: -5px;
  width: 8px;
  height: 8px;
  border-radius: 60%;
  background-color: #f5b921;
}

.sun {
  width: 35px;
  height:35px;
  border-radius: 50%;
  background-color:#f5b921;
}

@keyframes spin {
  from{transform: rotate(0);}
  to{transform: rotate(359deg);}
}

@media screen and (max-width: 568px) {
.spinner-box{
  display: none;
}

}